input {
	padding: 10px 20px;
	border-radius: 15px;
	background-color: $light-gray;
	border: 1px solid $light-gray;
	color: $gray;
	font-weight: bold;
	transition: 0.3s;
	&:focus {
		border: 1px solid $secondary;
		outline: none;
		box-shadow: rgb($secondary, 0.2) 0 4px 12px;
	}
	&::placeholder {
		color: darken($light-gray, 20%);
	}
}
